---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=209+Annie+Street&components=locality%3AOrlando%7Cpostal_code%3A32806%7Cadministrative_area%3AFL%7Ccountry%3AUS&key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "209",
                       "short_name" : "209",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Annie Street",
                       "short_name" : "Annie St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Southeast Orlando",
                       "short_name" : "Southeast Orlando",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
              [...]
