---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=209+Angie+St%2C+Orlando%2C+FL+32806%2C+USA&key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Orlando",
                       "short_name" : "Orlando",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Orange County",
                       "short_name" : "Orange County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Florida",
                       "short_name" : "FL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "32806",
                       "short_name" : "32806",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Orlando, FL 32806, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 28.5352379,
                          "lng" : -81.3310319
                       },
                       "southwest" : {
                          "lat" : 28.485944,
                          "lng" : -81.38582079999999
                       }
                    },
                    "location" : {
                       "lat" : 28.5085825,
                       "lng" : -81.3564411
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 28.5352379,
                          "lng" : -81.3310319
                       },
                       "southwest" : {
                          "lat" : 28.485944,
                          "lng" : -81.38582079999999
                       }
                    }
                 },
                 "partial_match" : true,
                 "place_id" : "ChIJSxCfNkB754gRsl-bmhk1IcM",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 07 Aug 2018 08:21:38 GMT
recorded_with: VCR 4.0.0
