---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1900+Gorgas+St&api_key=<API_KEY>&components=locality%3AMontgomery%7Cpostal_code%3A36ABC%7Cadministrative_area%3AAL%7Ccountry%3AUS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Tue, 07 Aug 2018 10:42:41 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1900+Gorgas+St&api_key=<API_KEY>&components=locality%3AMontgomery%7Cadministrative_area%3AAL%7Ccountry%3AUS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1900",
                       "short_name" : "1900",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Gorgas Street",
                       "short_name" : "Gorgas St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Forest Park",
                       "short_name" : "Forest Park",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "[...]
