---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Nowhere+to+go&components=locality%3AMonkmily%7Cpostal_code%3A36ABC%7Cadministrative_area%3AAL%7Ccountry%3AUS&key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Tue, 07 Aug 2018 13:25:14 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Nowhere+to+go&components=locality%3AMonkmily%7Cadministrative_area%3AAL%7Ccountry%3AUS&key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Tue, 07 Aug 2018 13:25:15 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?components=locality%3AMonkmily%7Cadministrative_area%3AAL%7Ccountry%3AUS&key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Tue, 07 Aug 2018 13:25:15 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?components=administrative_area%3AAL%7Ccountry%3AUS&key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Alabama",
                       "short_name" : "AL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Alabama, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 35.008028,
                          "lng" : -84.888246
                       },
                       "southwest" : {
                          "lat" : 30.144425,
                          "lng" : -88.4732269
                       }
                    },
                    "location" : {
                       "lat" : 32.3182314,
                       "lng" : -86.902298
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 35.008028,
                          "lng" : -84.888246
                       },
                       "southwest" : {
                          "lat" : 30.144425,
                          "lng" : -88.4732269
                       }
                    }
                 },
                 "place_id" : "ChIJdf5LHzR_hogR6czIUzU0VV4",
                 "types" : [ "administrative_area_level_1", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 07 Aug 2018 13:25:16 GMT
recorded_with: VCR 4.0.0
