---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Nowhere+to+go&components=locality%3AMontgomery%7Cpostal_code%3A36ABC%7Cadministrative_area%3AAL%7Ccountry%3AUS&key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Tue, 07 Aug 2018 10:38:55 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Nowhere+to+go&components=locality%3AMontgomery%7Cadministrative_area%3AAL%7Ccountry%3AUS&key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Tue, 07 Aug 2018 10:38:56 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?components=locality%3AMontgomery%7Cadministrative_area%3AAL%7Ccountry%3AUS&key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Montgomery",
                       "short_name" : "Montgomery",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Montgomery County",
                       "short_name" : "Montgomery County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Alabama",
                       "short_name" : "AL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Montgomery, AL, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 32.4376769,
                          "lng" : -86.07220509999999
                       },
                       "southwest" : {
                          "lat" : 32.249921,
                          "lng" : -86.41986989999999
                       }
                    },
                    "location" : {
                       "lat" : 32.3792233,
                       "lng" : -86.3077368
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 32.4376769,
                          "lng" : -86.07220509999999
                       },
                       "southwest" : {
                          "lat" : 32.249921,
                          "lng" : -86.41986989999999
                       }
                    }
                 },
                 "place_id" : "ChIJ-YHUsJSBjogR_4VCNR1RG44",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 07 Aug 2018 10:38:57 GMT
recorded_with: VCR 4.0.0
