---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=via+Fragata+35%2C+76011+Bisceglie+BT+Italia&api_key=<API_KEY>&language=it
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "35",
                       "short_name" : "35",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Via Fragata",
                       "short_name" : "Via Fragata",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Bisceglie",
                       "short_name" : "Bisceglie",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_nam[...]
