---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?api_key=<API_KEY>&components=locality%3AMiami%7Cpostal_code%3A33137%7Cadministrative_area%3AFL%7Ccountry%3AUS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "33137",
                       "short_name" : "33137",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Miami",
                       "short_name" : "Miami",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Miami-Dade County",
                       "short_name" : "Miami-Dade County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Florida",
                       "short_name" : "FL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Miami, FL 33137, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 25.8333321,
                          "lng" : -80.1595799
                       },
                       "southwest" : {
                          "lat" : 25.7947599,
                          "lng" : -80.19653
                       }
                    },
                    "location" : {
                       "lat" : 25.8207159,
                       "lng" : -80.1819268
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 25.8333321,
                          "lng" : -80.1595799
                       },
                       "southwest" : {
                          "lat" : 25.7947599,
                          "lng" : -80.19653
                       }
                    }
                 },
                 "place_id" : "ChIJt7CsP1ix2YgRHdwuhloTUCU",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 07 Aug 2018 08:05:03 GMT
recorded_with: VCR 4.0.0
