---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/directions/json?destination=-33.867487%2C151.206990&key=<API_KEY>&origin=12.496365%2C41.902783
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "geocoded_waypoints" : [ {}, {} ],
           "routes" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Tue, 15 Oct 2019 13:36:10 GMT
recorded_with: VCR 4.0.0
